service cloud.firestore {
  match /databases/{database}/documents {
    match /tickets/{ticket} {
      allow read;

      allow create: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role.isAdmin == true;

      allow update: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role.isAdmin == true;

      allow delete:  if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role.isAdmin == true;
    }
    match /unapprovedTickets/{ticket} {
      allow read: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role.isAdmin == true;

      allow create;

      allow update: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role.isAdmin == true;

      allow delete:  if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role.isAdmin == true;
    }
    match /categories/{category}{
      allow read;
    }
    match /users/{user} {
      allow read, write;
    }
    match /status/{status} {
      allow read;
    }
    match /types/{type} {
      allow read;
    }
  }
}
